<h1>MADLIB</h1>
<p>One time a person named @Model.GetPronoun().</p>
<p>They really liked to @Model.GetVerb() down the street. When @Model.GetPronoun(), went out of the house, would always walk into a @Model.GetNoun().</p>

<p>If you give a @Model.GetAnimal() a @Model.GetFood(), he/she is going to ask for a @Model.GetNoun(). When you give him/her the @Model.GetNoun(), he/she will still want to @Model.GetVerb().</p>

<p> @Model.GetVerb() @Model.GetNoun(). @Model.GetAdjective(). @Model.GetAdverb(). @Model.GetPronoun(). @Model.GetFood(). @Model.GetAnimal(). </p>
